{{!< default}}

{{> "main_info_panel"}}

{{#is "page"}}
<section class="right-side-content">
  <div class="contact-info">
    <h4>Email:</h4>
    <p>hagemann.eric@gmail.com</p>
  </div>
</section>
{{/is}}