{{!< default}}

{{> "main_info_panel"}}

{{#is "page"}}
<section class="right-side-content" data-page="2">
  <div class="about-page-content">
   <h2>About Eric</h2>

   <p>I train athletes for a living. I'm an occasional guitarist. I have two passports and am working on my third. I’m an introvert and have struggled with it all my life. I’m a terrible dancer…like, really bad. I   study software development in my spare time. I prefer a manual transmission. I haven’t eaten breakfast in three years.</p  >

   <p>Here’s a little of my backstory.</p>

   <p>I grew up in Maine, but left home at 16 to pursue my dreams of getting an athletic hockey scholarship by playing in the elite Junior leagues in Ontario. Don’t worry my parents were cool with it. It was an  experience that was meant to last a year, maybe two at most. That was 16 years ago and I still celebrate Thanksgiving in October. Life’s like that.</p  >

   <p>I ended up staying in Ontario and getting my undergraduate degree in Kinesiology from the University of Waterloo in 2007. During my time there I became interested in the field of motor learning and skill   acquisition, and decided that I would become a professor when I grew up.</p  >

   <p>So I pursued my Master’s degree at University of Toronto, where I studied the motor learning habits of physical and occupational therapists and worked on a project that validated the use of prosthetics in a  learning environment. You can read my thesis here…misspelled title and all. But that’s another story.</p  >

   <p>I found research to be slow, tedious, redundant, and with certain projects just down-right unnecessary. I quickly realized that academia was more about keeping the research grants coming in as much as the  holy quest for knowledge and truth, and I just didn’t want any part of it. I had a growing passion for strength and conditioning and decided to put my interest in movement and learning to better use. So I di d   the only logical thing one could do: I moved to Tennessee and became a hockey coach.</p  >

   <p>Like I said, life’s like that.</p>

   <p>After a year and a half of giving private hockey lessons, coaching several teams, and starting to train athletes in the gym. I got a call from my best friend from Ontario, who had recently started a gym and  wanted to know if I’d be interested in helping out.</p  >

   <p>Sure, why not? So back up to Canada I went.</p>

   <p>That call was six years ago and that gym was NLPT, and it’s where I still work today. Since then we’ve grown our gym from a tiny basement beneath a sketchy hot tub factory, to two upscale facilities that   cater to sport performance training. We deal primarily with what I would call top-end amateurs: Division 1 athletes, major junior hockey players, AAA-level adolescents, and a variety of other athletes that   compete at the provincial and national levels in sports ranging from hockey, baseball, soccer, speed skating, Alpine skiing, rugby, and snowboarding and even motocross.</p  >

   <p>I’m honored to have worked with some of the best young athletes in Ontario. From teaching 10-year-olds to tie their shoes to showing NHL draft picks how to hang clean, I’ve seen it all during my time as a  strength coach in the private sector.</p  >

   <p>This blog is just space to talk about what I’m reading, learning, and thinking about. It’s my place to vet out some of the thoughts I don’t always have time to in the gym. It’s log of my learning and   pursuits. I’m not so concerned with readership, and more interested in simply leaving a record of my existence–it’s a real time thought exercise of living. And yes, I realize how underwhelmingly deep th at last   statement was. But I meant it.</p  >

   <p>Thanks for visiting and I truly hope you take something from it.</p>

   <p>Eric</p>
  </div>
</section>
{{/is}}