  <section class="main-info">
    <div class="main-info-header">
      <h1 class="main-title"><a href="{{@blog.url}}">ERIC HAGEMANN<span>MSc, CSCS</span></a></h1>
      <ul class="sub-title">
        <li>Learning.</li>
        <li>Training.</li>
        <li>Coaching.</li>
      </ul>
    </div>
    {{> "nav_menu"}}


  <div class="social">
    <ul class="social-icons">
      <li class="twitter"><a href="http://www.twitter.com/ehagemann"></a></li>
      <li class="instagram"><a href="http://www.instagram.com/erichagemann"></a></li>
      <li class="mail"><a href=""></a></li>
    </ul>
  </div>
  </section>


  {{> "email_modal"}}