    <div class="nav-menu clearfix">
      <ul>
        <li><a class="menu-item" href="{{@blog.url}}">Blog</a></li>
        <li><a class="menu-item" href="/about/">About</a></li>
        <li><a class="menu-item" href="/contact/">Contact</a></li>
      </ul>
    </div>