    <div class="nav-menu clearfix">
      <ul>
        <li><a class="menu-item" data-page="1" href="{{@blog.url}}">Blog</a></li>
        <li><a class="menu-item" data-page="2" href="/about/">About</a></li>
        <li><a class="menu-item" href="">Contact</a></li>
      </ul>
    </div>