    <div class="nav-menu clearfix">
      <ul>
        <li><a class="menu-item" data-page="1" href="{{@blog.url}}"> B l o g </a></li>
        <li><a class="menu-item" data-page="2" href="/about/"> A b o u t </a></li>
        <li><a class="menu-item" href=""> C o n t a c t </a></li>
      </ul>
    </div>