{{!< default}}
{{> "page_header"}}

{{#is "page"}}
<h2 class="page-banner">Meet Deb</h2>
<main class="page-content">
  <img id="profile" src="{{asset 'images/Deb1.jpg'}}">
  <h3>Deb Hagemann</h3>
  <h4>FOUNDER / NATIONAL EXECUTIVE HEALTHCARE CONSULTANT</h4>
  <a class="email" href="">DEB@HAGEMANNHEALTHCARE.COM</a>

  <p>Deb Hagemann has over 20 years of clinical managed care and clinical product design experience in the healthcare industry. Early in her career she held RN staff positions in hospital, home health, and university health services settings. Her first role in managed care was in 1990 as a utilization management and case management nurse for a start up HMO.</p>

  <p>Her career in managed care included senior executive roles leading medical and quality management divisions for two national health insurance companies. She also worked both domestically and internationally leading clinical product development teams for a large health and wellness company in the US.</p>

  <p>Deb lives with her husband and an adorable yellow lab, Lucy. In her spare time, she loves to travel around the U.S. and in Europe; entertain for family and friends; and enjoy all of the wonderful sights & beautiful scenery that Washington State has to offer.</p>

  <p>Hagemann Healthcare Consulting was formed in 2014 from Deb’s desire to utilize her experience to consult with customers who want to find innovative solutions in a timely manner to meet their business needs.</p>

  <h4>CUSTOMER EXPERIENCE</h4>

  <p>Get to solutions, faster! Our clients may be ACO’s, payors, hospitals, provider groups, software vendors, and community agencies for all markets. All locations within the U.S. and Europe are within scope. Interim clinical management positions and sub-contracting considered  Please contact us for more details!</p>

  <h5>We meet you where your needs are:</h5>
  <ul>
    <li>Short-term or Long-term consulting</li>
    <li>Interim management positions</li>
    <li>Sub-contractor for other healthcare consultants</li>
    <li>All US and Europe locations for both onsite and virtual work approach</li>
  </ul>

  <h5>What are the benefits of working with an independent consultant:</h5>
  <ul>
    <li>Efficient processes and timelines to meet your business needs</li>
    <li>Role and project scope defined in advance with frequent updates</li>
    <li>Able to provide an independent opinion</li>
    <li>Doesn’t count toward budgeted FTE counts</li>
    <li>No costs needed for PTO, taxes or benefits</li>
    <li>Brings wealth of prior experience in varied regional and professional areas</li>
    <li>Able to work virtually and/or onsite</li>
  </ul>
</main>

{{/is}}