{{!< default}}
{{> "page_header"}}

{{#is "page"}}
<h2 class="page-banner">What We Do</h2>
<div class="page-banner-img"></div>
<main class="page-content">
  <p class="page-commentary">Hagemann Healthcare Consulting offers strategic clinical program and product development consulting services to companies who are looking for adviceeffective temporary resources to help drive a performance-focused culture in a collaborative, customer-focused approach. Consulting areas include all areas of medical management and clinical product development to optimize relationships, operations, and both clinical and financial outcomes. We serve all of the United States, Canada, and Europe.</p>

  <h5>Demonstrating the Value of Utilization and Case Management</h5>

  <p>Many health insurance companies struggle to demonstrate case manager effectiveness both externally to their customers and internally to those in other departments of the company. Internally, there are often questions about number of and type of members’ managed, individual productivity: Are they efficiently addressing the true barriers to enhance improved health; are they assigning the right length of stay at the right time; etc?</p>

  <p>We have experience in assessing both staff and management positions to determine if they are in the right role and if so, what additional training and support may be required for them to be successful. It is often helpful to have a consultant provide this service for an independent opinion that may or may not support an already internal assessment.</p>

  <h5>Transitions of Care and Integrated Care Management</h5>

  <p>Workflow processes and communication of discharges can be a challenge. Transition of Care is providing support for a patient from one setting to another without any gaps in care. Hospitals often struggle to find enough resources to successfully transition the patient to home or another facility.</p>

  <p>Integrated Care Management is providing the care management support for all of the patient’s needs: medical, behavioral, social, and financial. Health insurance companies are now working to address both behavioral health and medical needs, but there remains much work to do for some companies to have a truly integrated case management model.</p>

  <h5>Health Home or Patient Centered Medical Home (PCMH)</h5>

  <p>Both the Health Home and PCMH models come with contract or accreditation requirements. Whether it is a new implementation or ongoing management, Hagemann Healthcare Consulting can help meet your model’s requirements.</p>

  <h5>Organizational Design, Mentoring, & Training</h5>

  <p>Do you see a medical management department that has lost focus, projects are falling behind schedule, and/or there are a lot of calls to HR with employee complaints? Sometimes the cause is lack of training or the organizational design is not optimal. Transparency of performance to colleagues along with mentoring and training support can dramatically improve job satisfaction. I have repeatedly delivered repeated success of how to provide the right training and implement an organizational structure that makes a positive impact on the business in terms of outcomes and high performing employee retention.</p>

  <h5>Change Management</h5>

  <p>The old phrase of “The only thing that is constant is change” by Heraclitus applies to healthcare now more than ever. With the implementation of the Affordable Healthcare Act, roles and risks for insurers, providers, and employers are changing quickly to adapt to the new environment.</p>

  <p>New products are being designed for new healthcare coverage, risk models are being changed, and providers and facilities are often overwhelmed with the increased demand due to the large volume of Americans that now have healthcare coverage.</p>

  <p>It’s a good problem to have!  But how can you support your staff through all of these changes? Hagemann Healthcare Consulting has experience in introducing new products, work approaches, software systems, and new customer contracts. Because, the only thing that is constant is change. We can teach your staff to work in a culture with the Four F’s:  Fast, Fun, Flexible, and Focused.</p>

  <h5>New Customer, Vendor, or Carrier Implementations</h5>

  <p>The timeline to implement a new customer, carrier, or vendor never seems to be long enough. We can provide project management leadership support for all areas of the medical management functions. Hagemann Healthcare Consulting has extensive years or experience in the implementation of call centers, health plans and new customer intakes. For provider offices, having a temporary who knows the managed care industry is a valuable asset to represent your interests in the new operations with a contracted health plan.</p>
</main>

{{/is}}